<div class="container">
  <div class="search-panel">
    <h3>Ricerca Rapida Alunno</h3>
    <input type="text" [(ngModel)]="testoRicerca" (input)="avviaRicerca()" placeholder="Digita il nome o il cognome...">
    
    <div *ngIf="risultatiRicerca.length > 0" class="search-results">
      <div class="search-result" *ngFor="let s of risultatiRicerca">
        <strong>{{ s.cognome }} {{ s.nome }}</strong>
        <button (click)="apriProfiloStudente(s.id_studente)">Apri Registro</button>
      </div>
    </div>
  </div>

  <div class="header-scuola">
    <h1>Istituti Scolastici</h1>
    <p>Seleziona una classe per accedere al registro.</p>
  </div>
  <div class="griglia-classi">
    @for (c of classi; track c.id_classe) {
      <div class="classe-card" (click)="apriClasse(c.id_classe)">
        <h2>{{ c.nome }} {{ c.sezione }}</h2>
        <p>{{ c.indirizzo }}</p>
      </div>
    }
  </div>
</div>
